audio {
    width: 100%;
}
.album>div>div{
    white-space: nowrap;
    overflow-x: auto;
}
/* .auto {
    white-space: nowrap;
    overflow-x: auto;
  } */

/* td{
    border:1px solid #333;
} */
/* tr{
    border-bottom: 1px solid black;
  } */